.header{
    width: 100%h;
    height: 100vh;
    background-color: azure;
}

.side-nav{
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: cornflowerblue;
    top: 0;
    left: 0;
}

.nav-elements{
    list-style: none;
    position: relative;
}

.nav-elements li{
    padding: 10px 0;
}

.nav-elements li a{
    color: white;
    text-decoration: none;
    padding: 10px 14px;
}
/* .logo{
    
} */